html{
	font-size: 100%;
}
body{
	background-color: #f0f0f0;
}
.title1{
	position: fixed;
	top: 0;
	width: 100%;
	height: 65px;
	background-color: #29bde0;
}
.b1{
	position: fixed;
	top: 25px;
	font-size: 1.2rem;
	background-color: #29bde0;
	color: white;
	border-style: none;
}
.box1{
	margin: 79px 16px 14px 16px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 1.2rem;
	background-color: #fff;
	color: #b6b6b6;
	border: 1px solid #b6b6b6;
	cursor: pointer;
}
.icon1{
	float: right;
	right: 5px;
	top: 0px;
	height: 60px;
	line-height: 60px;
	font-size: 1.4rem;
	color: #e7e7e7;
}
.box2{
	margin: 0 16px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border-left: 1px solid #b6b6b6;
	border-right: 1px solid #b6b6b6;
	border-top: 1px solid #b6b6b6;
	border-bottom: 1px solid #fbb435;
	background-color: #fff;
	color: #fbb435;
	font-size: 1.3rem;
}
#box3{
	margin: 0 16px;
	font-size: 0;
}
.box4{
	padding: 25px 0 15px 0;
	background-color: #fff;
	border-left: 1px solid #b6b6b6;
	border-right: 1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
}
.version1,
.version2,
.version3{
	margin: 0 25px;
	height: 80px;
	text-align: center;		
	line-height: 80px;
	background-color: #29bde0;
	font-size: 1.2rem;
	color: #fff;
	cursor: pointer;
}
.text1,
.text2,
.text3{
	height: 50px;
	margin: 0 25px;
	line-height: 50px;
	text-align: center;
	font-size: .8rem;
	color: #b6b6b6;
	background-color: #fff;
}
.button1{
	position: absolute;
	top: 0;
	bottom: 0;
    right: 0;
    width: 25px;
    text-align: center;
    line-height: 399px;
    font-size: 1.8rem;
    color: #fbb435;
}
.carousel-indicators{
	bottom: 0px;
}
.carousel-indicators li{
	background-color: #f0f0f0;
}
.carousel-indicators .active{
	background-color: #29bde0;
}
ol{
	margin-bottom: 5px;
}
